@tailwind base;
@tailwind components;
@tailwind utilities;

@import "fonts.css";

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
.container {
  @apply px-4;
}
.row {
  @apply flex flex-wrap;
}

.header_hero {
  height: 900px;
}
@media (max-width: 1400px) {
  .header_hero {
    height: 800px;
  }
}
.header_shape {
  @apply absolute top-0 right-0 h-full w-1/2;
}
html,
body {
  padding: 0;
  margin: 0;
  font-family: "Inter var", -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}
a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.header_shape::before {
  content: "";
  width: 200%;
  @apply absolute top-0 left-0 h-full;
}

.header_image {
  position: absolute;
  width: 100%;
  transform: translateX(100%);
  clip-path: polygon(25% 0%, 100% 0%, 100% 100%, 0% 100%);
  @apply absolute top-0 left-0 h-full;
  animation: fadeinX 1s ease-in-out forwards;
  -webkit-animation: fadeinX 1s ease-in-out forwards;
}

.hero_title {
  transform: translateY(-40%);
  animation: fadeinY 1s ease-in-out forwards;
  -webkit-animation: fadeinY 1s ease-in-out forwards;
}

.hero_caption {
  opacity: 0;
  transform: translateY(-40%);
  animation: fadeinY 1s ease-in-out forwards;
  animation-delay: 0.75s;
  -webkit-animation: fadeinY 1s ease-in-out forwards;
  -webkit-animation-delay: 0.75s;
}

@keyframes fadeinX {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
    transform: translateX(0%);
  }
}
@-webkit-keyframes fadeinX {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
    transform: translateX(0%);
  }
}

@keyframes fadeinY {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
    transform: translateY(0%);
  }
}
@-webkit-keyframes fadeinY {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
    transform: translateY(0%);
  }
}

.contact_image {
  @apply lg:absolute top-0 left-0 w-full lg:w-1/2 h-auto lg:h-full mx-auto mt-12 lg:mt-1 px-5 lg:px-0;
}
.contact_image img {
  @apply max-w-full lg:max-w-screen-md lg:w-auto;
  max-width: 770px;
}
.contact-btn {
  @apply text-white py-4 px-10 rounded-md hover:bg-opacity-80;
}
.main-btn {
  @apply inline-block font-medium text-base text-center rounded-full text-white cursor-pointer z-10 transition-all duration-300 bg-black overflow-hidden relative px-10 py-4 hover:bg-opacity-80 hover:text-white;
  border-top-right-radius: 0px;
}
